*.o
*.pbd
*.browser
*.pbi
*.pbi.cout
*.map
*.hex
*.out
*.ini
*.pdb
*.bat
*.dbgdt
*.lib
*.wsdt
*.a
*.dni
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.jlink
*.sim
*.browse
# Executables
*.out
*.app
./说明文件/三天入门M4——Kinetis(V2.2).pdf
