*.o
*.pbd
*.browser
*.pbi
*.pbi.cout
*.map
*.hex
*.out
*.ini
*.pdb
*.bat
*.dbgdt
*.lib
*.wsdt
*.a
*.dni
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
